body {
	
}
#banco {
	display: block;
	text-align: center;
}
#banco .oco {
	display: inline-block;
	border:1px solid #eee;
	height: 30px;
	width: 30px;
	margin-bottom: -5px;
	cursor: pointer;
	text-align: center;
	overflow: hidden;
	padding-top: 0px;
	font-weight: bold;
	font-size: 20px;
}